<!-- 
/*
 *	This content is generated from the PSD File Info.
 *	(Alt+Shift+Ctrl+I).
 *
 *	@desc 		
 *	@file 		attend_vibe_check___enter_code
 *	@date 		Saturday 12th of November 2022 04:13:11 PM
 *	@title 		Page 1
 *	@author 	
 *	@keywords 	
 *	@generator 	Export Kit v1.3.figma
 *
*/
 -->
 <!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" >
     <head>
         <meta http-equiv="content-type" content="text/html" charset="utf-8" />
         <title>attend_vibe_check___enter_code</title>
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <meta name="description" content="" >
         <link rel="stylesheet" href="css/style.css" />
         <link rel="stylesheet" href="css/semantic.min.css" />
         <link rel="StyleSheet" href="css/enterquizcode.css" />
         <script src="https://secure.exportkit.com/cdn/js/ek_googlefonts.js?v=6"></script>
         <!-- Add your custom HEAD content here -->
 
     </head>
     <body>
         <div id="content-container" >
             <div id="_bg__attend_vibe_check___enter_code"  ></div>
             <div id="rectangle_4"  ></div>
             <form class="ui large form" method="POST" action="enterquizcode">
            
             <a id="button_cls_a"  _par="" href="homepage" >
                
                 <div id="check_your_vibe" >
                    <input class="ui fluid large green submit button" type="submit" value="Enter code" /><br>
                
                 </div>
 
             </a>
 
             <div id="username"  >
                 <input class="ui pink" type="text" name="friendname" placeholder="Friend's username" required />
                   
                 
 
             </div>
 
             <div id="username_ek1"  >
                 <input type="text" name="friendcode" placeholder="Secret code" required />
                   
 
             </div>
            </form>
             <a id="_vector_link" href="home" >
             <img src="skins/_vector.png" id="_vector" />
             </a>
 
         </div>
     </body>
 </html>