<!-- 
/*
 *	This content is generated from the PSD File Info.
 *	(Alt+Shift+Ctrl+I).
 *
 *	@desc 		
 *	@file 		user_dashboard
 *	@date 		Saturday 12th of November 2022 03:02:43 PM
 *	@title 		Page 1
 *	@author 	
 *	@keywords 	
 *	@generator 	Export Kit v1.3.figma
 *
*/
 -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8" />
    <title>user_dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="StyleSheet" href="css/user_dashboard.css" />
    <script src="https://secure.exportkit.com/cdn/js/ek_googlefonts.js?v=6"></script>
    <!-- Add your custom HEAD content here -->

</head>

<body>
    <div id="content-container">
        <div id="_bg__user_dashboard"></div>
        <div id="rectangle_1"></div>
        <div id="hi__user__">
            Hi <User>!
        </div>

        <div id="account_circle">
            <img src="skins/vector.png" id="vector" />

        </div>
        <img src="skins/vector_ek1.png" id="vector_ek1" />

        <div id="group_15">
            <% if(submitEnable) { %>
                <div id="rectangle_3"></div>
                <div id="your_vibe__">
                    Your quiz code is
                </div>
                <div id="_99">
                    <%= quizcode %> 
                </div>
                <% } else {%>
                    <div id="rectangle_3"></div>
                    <div id="your_vibe__">
                        Set your
                    </div>
                    <div id="_99">
                        Quiz
                    </div>
                    <% }%>
        </div>

        <a id="group_1_cls_a" _par="" href="myquiz">
            <div id="rectangle_4"></div>
            <div id="edit_vibe_check_questions">
                Set vibe check questions
            </div>
            <img src="skins/vector_ek2.png" id="vector_ek2" />

        </a>

        <a id="group_2_cls_a" _par="" href="enterquizcode">
            <div id="rectangle_5"></div>
            <div id="take_a_vibe_check_of_your_friend">
                Take a vibe check of a friend
            </div>

            <div id="emoji_people">

                <div id="group">
                    <img src="skins/vector_ek3.png" id="vector_ek3" />
                    <img src="skins/vector_ek4.png" id="vector_ek4" />

                </div>

                <div id="group_ek1">

                    <div id="group_ek2">
                        <img src="skins/vector_ek5.png" id="vector_ek5" />
                        <img src="skins/vector_ek6.png" id="vector_ek6" />

                    </div>

                </div>

            </div>

        </a>

    </div>
</body>

</html>