<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css" />
    <link rel="StyleSheet" href="css/home.css" />
	<script src="https://secure.exportkit.com/cdn/js/ek_googlefonts.js?v=6"></script>
    <link rel="stylesheet" href="css/semantic.min.css" />

    <title>Register</title>
</head>

<body>
    <body>
		<div id="content-container" >
			<div id="_bg__home"  ></div>
			<div id="welcome" >
				Welcome
			</div>
			<div id="create_an_account_and_build_your_friendship" >
				Create an account and build your friendship<br/>
			</div>

			

			<a id="engaging_button_false_cls_a"  _par="" href="register" >

				
                <input class="ui fluid large pink submit button" type="submit" value="Register" />

			</a>
			<div id="already_have_an_account_" >
				Already have an account?
			</div>
			<a id="_login_link" href="login" >
			<div id="_login" >
				login
			</div>
			</a>

			<div id="group_34"  >
				<img src="skins/image_1.png" id="image_1" />
				<img src="skins/logo_1.png" id="logo_1" />

			</div>

		</div>
	</body>
</body>

</html>